@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Versality System</h1>
    <p>The system that performs the transversality between Knowledge Management and Active Learning Methods</p>
</div>
